div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* cursor: arrow; */
}
html {
    background: #2D2D2D;
    font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.famous-root {
    background-color: #FDFDFD !important;
}
.backfaceVisibility {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.main-body-background {
    background: linear-gradient(to right, #2155aa 0%, #3e72c6 100%);
}
.strip-view {
    background-color: #444444;
}
.menu-titles {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-transform: 'uppercase';
    pointer-events: 'none';
}
.header-title {
    color: #ffffff;
    font-size: 18px;
    font-weight:
}
.no-button {
    color: ##2155aa;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    background-color: white;
}
.yes-button {
    color: #FFF;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    background-color: #34C9AB;
    border: 2px solid #34C9AB;
    font-size: 1rem;
}
.button-hover {
    background-color: red;
}
.circle-image {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.loader {
    width: 25%;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
}
/* CARD CSS */

.front-card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(255, 255, 255, 0.95);
    background-repeat: no-repeat;
    background-position: right center;
}

.back-card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.8rem;
    font-size: 0.8rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10000;
    /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50); */
    overflow: hidden;
}

.scroll-container {
    height: inherit;
}

.back-card-desc {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    /* white-space: pre-line;*/
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(52, 201, 171);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}*/

.product_desc {
    font-size: 0.5em;
}
/* LANDING PAGE CSS */

.landing-buttons {} .landing-name {} .landing-tagLine {}
/* Card Styles */

.card_header {
    width: 90%;
    padding: 0.8rem 0.8rem;
    height: 4.65rem;
}
.flip_button {
  position: absolute;
  top: 44%;
  left: 90.85%;
  width: 10%;
}
.logo_url {
    width: 4.5rem;
    height: 4.5rem;
    float: left;
    margin-right: 0.65rem;
    border-radius: 12.5%;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.startup_name {
    font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
    padding: 0;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.high_concept {
    margin-top: 0.2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #9E9E9E;
}
.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    margin-bottom: 0.2rem;
}
#jobInfo {
    width: 87%;
    padding: 0.8rem;
}
.job_title {
    font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 1.2rem;
}
.skills, .compensation, .location {
    color: #000;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 1.15rem;
    font-size: 0.85rem;
}
.secondary-text {
    color: rgba(0, 0, 0, .35);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 1.3rem;
    text-transform: uppercase;
}
.followers {
  font-size: 1.3rem;
}

/* Loading Page */
.loading_top {
  width: 18rem;
  padding: 0.2rem;
  height: 5.5rem;
  margin:  0 auto;
}
.loading_img {
  width: 4rem;
  height: 4rem;
  border-radius: 12.5%;
  background: rgba(0, 0, 0, 0.15);
  margin-top: 0.75rem;
  margin-left: 0.65rem;
}
.loading_startup_name {
  position: absolute;
  top: 0.5rem;
  left: 5.75rem;
  background: rgba(0, 0, 0, 0.2);
  height: 0.35rem;
  width: 4rem;
}
.loading_high_concept {
  position: absolute;
  top: 1.5rem;
  left: 5.75rem;
  background: rgba(0, 0, 0, 0.15);
  height: 0.35rem;
  width: 9rem;
}
#loadingJobInfo {
  width: 12rem;
  margin-top: 1rem;
}
.loading_divider {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-bottom: 0.2rem;
}
.loading_job_title,
.loading_location, .loading_location_description,
.loading_skills, .loading_skills_description1, .loading_skills_description2 {
  margin-left: 1rem;
  background: rgba(0, 0, 0, 0.2);
  height: 0.3rem;
}
.loading_job_title {
  width: 8rem;
  height: 0.35rem;
  background: rgba(28, 28, 28, 0.3);
}
.loading_location {
  width: 35%;
  margin-top: 1.5rem;
  background: rgba(0, 0, 0, 0.125);
}
.loading_location_description {
  width: 6rem;
  margin-top: -0.25rem;
}
.loading_skills {
  width: 3rem;
  margin-top: 1.5rem;
  background: rgba(0, 0, 0, 0.125);
}
.loading_skills_description1 {
  width: 12.5rem;
  margin-top: -0.25rem;
}
.loading_skills_description2 {
  width: 14rem;
  margin-top: -0.25rem;
}
.loading_bottom {
  width: 100%;
  background: green;
  margin-top: 10%;
}
.loading_text {
  background: red;
  text-align: center;
}
.loading_bar {
  background: blue;
  height: 40%;
  text-align: center;
}
